{% extends 'base.html' %}

{% block content %}

    <div class="container">
      <br>
      <h3>My account</h3>
      <h4>Account details</h4>
      <br>
      
      <ul class="list-group list-group-horizontal list-group-center">
        <li class="list-group-item">First Name:</li>
        <li class="list-group-item">{{request.user.first_name}}</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Last Name:</li>
        <li class="list-group-item">{{request.user.last_name}}</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Username:</li>
        <li class="list-group-item">{{request.user.username}}</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Email:</li>
        <li class="list-group-item">{{request.user.email}}</li>
      </ul>

      {% if request.user.profile.has_profile %}
        <br>
        <h4>Profile details</h4>
        <br>

        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">Address:</li>
          <li class="list-group-item">{{request.user.profile.address}}</li>
        </ul>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">Town:</li>
          <li class="list-group-item">{{request.user.profile.town}}</li>
        </ul>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">County:</li>
          <li class="list-group-item">{{request.user.profile.county}}</li>
        </ul>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">Post code:</li>
          <li class="list-group-item">{{request.user.profile.post_code}}</li>
        </ul>
      {% else %}
        <br>
        <p>You don't have profile. Create one below.</p>
        <a class="btn btn-primary" href="{% url 'profile' %}" role="button">Create profile</a>
      {% endif %}

    </div>
    
    <center>
      <h3>Top results for your area</h3>
    </center>

    {% if hotel %}
      <h3>Top hotels</h3>
      <br>
      {% include 'partials/cards.html' with results=hotel %}
    {% endif %}
    
    <br>
    <br>

    {% if cafe %}
      <h3>Top cafe</h3>
      <br>
      {% include 'partials/cards.html' with results=cafe %}
    {% endif %}

    <br>
    <br>

    {% if bar %}
      <h3>Top bars</h3>
      <br>
      {% include 'partials/cards.html' with results=bar %}
    {% endif %}

{% endblock %}

