{% extends 'base.html' %}
{% load static %}

{% block content %}

<h3>My account</h3>

<div class="container">

  <h4>User account details</h4>
  <table>
    <thead>
      <tr>
        <th>Field</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Username</td>
          <td>{{request.user.username}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{request.user.first_name}} {{request.user.last_name}}</td>      
      </tr>
      {% if request.user.profile.has_profile %}

        <tr>
          <td>Address</td>
          <td>
            <address>
              {{request.user.profile.address}}<br>
              {{request.user.profile.town}}<br>
              {{request.user.profile.county}}<br>
              {{request.user.profile.post_code}}<br>
            </address>
          </td>      
        </tr>

      {% else %}
        <tr>
          <td>User Profile</td>
          <td><a href="{% url 'profile' %}" >Create user Profile</a></td>
        </tr>
      {% endif %}


    </tbody>
  </table>
</div>
{% endblock %}

