{% extends 'base.html' %}
{% load static %}


{% block extend_head %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

    <script src="https://www.google.com/recaptcha/api.js?render={{ public_key }}"></script>
    <script>
        grecaptcha.ready(function() {
            $('#signupform').submit(function(e){
                var form = this;
                e.preventDefault()
                grecaptcha.execute('{{ public_key }}', {action: '/'}).then(function(token) {
                    $('#recaptcha').val(token)
                    form.submit()
                });
            })
        });
    </script>

{% endblock %}

{% block content %}

<h3>Sign Up</h3>

<div class="container">

    <form id="signupform" method="POST" action="">
        {% csrf_token %}

        <label for="first_name">First Name</label>
        {{form.first_name}}

        <label for="last_name">Last Name</label>
        {{form.last_name}}

        <label for="username">Username</label>
        {{form.username}}

        <label for="email">Email</label>
        {{form.email}}

        <label for="password1">Password</label>
        {{form.password1}}

        <label for="password2">Confirm Password</label>
        {{form.password2}}

        {{form.token}}

        <label class="check-container">Show Passwords
            <input type="checkbox" onclick="showPword()">
            <span class="checkmark"></span>
        </label>

        <button type="submit">Sign up</button>
    </form>
    
</div>



<script type="text/javascript">
    // Create a variable that can be used in main.js
    //var recaptcha_site_key = '{{recaptcha_site_key|safe}}'
</script>


{% endblock %}