{% load static %}


<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for result in results %}

        <div class="col">
            <div class="card h-100">

                {% with 'photos/'|add:result.photo_name as image_static %}
                    <img src="{% static image_static %}" width="200" height="200" class="card-img-top" >
                {% endwith %}

                <div class="card-body">
                    <h5 class="card-title">{{ result.name }}</h5>
                    <p class="card-text">Rating: {{ result.rating }}</p>
                    <p class="card-text">Total score: {{ result.user_ratings_total }}</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>

    {% endfor %}
</div>