{% load static %}


<div style="padding: 20px; position: absolute; bottom: 0; width: 100%; font-family:Arial, Helvetica, sans-serif; "> 
    <footer class="bg-dark text-white pt-5 pb-4 footer-expand-lg  ">

        <div class="container text-center text-md-start">
            
            <div class="row text-center text-md-start">

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <div style="font-family: 'Times New Roman', Times, serif;">
                    <h5 class="text mb-4 font-bold text-warning">HappyTraveller</h5>
                    <p>The Jurney Of a Thousand Miles Begins with a Single Step</p>
                    </div> 
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Products</h5>
                    <p>
                        <a class="text-white" style="text-decoration: none;">About us</a>
                    </p>
                    <p>
                        <a class="text-white" style="text-decoration: none;">Communicate</a>
                    </p>
                    <p>
                        <a class="text-white" style="text-decoration: none;">Follow us</a>
                    </p>

                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Usefull links</h5>
                    <p>
                        <a href="/account" class="text-white" style="text-decoration: none;">Your Account</a>
                    </p>
                    <p>
                        <a class="text-white" style="text-decoration: none;">Help</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
                    <p>
                        <i class="fas fa-home mr-3"></i>  Serres, PC 61200, Gr
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i>  creators01@gmail.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i>  +30 2321 06969
                    </p>
                </div>
            </div>
        </div>

    </footer>
</div>
