{% extends 'base.html' %}
{% load static %}

{% block content %}
  <center>
    <br>
    <div class="container">
      <form id="searchbar" method="get" action="">
          <div class="mb-3 w-25">
              <label for="username" class="form-label">Search pace</label>
              <input type="search" name="search" class="form-control me-2">
          </div>
          
          <div class="form-check mb-3 w-25">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="city">
            <label class="form-check-label" for="flexRadioDefault1">
              City
            </label>
          </div>
          <div class="form-check mb-3 w-25">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="place" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Place
            </label>
          </div>

          <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </center> 


{% if search %}
  <center> <h3>Photo Album</h3> </center>
    <div class="container">
      <center>
      <p> {{result.name}} </p>
      <p> {{result.address}} </p>
      <p> {{result.loclat}} </p>
      <p> {{result.loclng}} </p>
      <p> {{result.open_now}} </p>
      <p> {{result.rating}} </p>
      <div class="row">
      </center>

        <div class="col-sm-4">
          <img src="{% static 'photos/photo0.jpg' %}" width="200" height="200" class="img-thumbnail" > 
        </div> 
        <div class="col-sm-4">
          <img src="{% static 'photos/photo1.jpg' %}" width="200" height="200" class="img-thumbnail" > 
          <p>fwto prwti</p>
        </div>

        <div class="col-sm-4">
          <img src="{% static 'photos/photo2.jpg' %}" width="200" height="200" class="img-thumbnail" > 
          <p>fwto 2</p>
        </div>
        
        <div class="col-sm-4">
          <img src="{% static 'photos/photo3.jpg' %}" width="200" height="200" class="img-thumbnail" >  
          <p>dokimi3</p>
        </div>

        <div class="col-sm-4">
          <img src="{% static 'photos/photo4.jpg' %}" width="200" height="200" class="img-thumbnail" > 
        </div>
        
        <div class="col-sm-4">
          <img src="{% static 'photos/photo5.jpg' %}" width="200" height="200" class="img-thumbnail" > 
        </div>
        
        <div class="col-sm-4">
          <img src="{% static 'photos/photo6.jpg' %}" width="200" height="200" class="img-thumbnail" > 
        </div>

        <div class="col-sm-4">
          <img src="{% static 'photos/photo7.jpg' %}" width="200" height="200" class="img-thumbnail" > 
        </div>

        <div class="col-sm-4">
          <img src="{% static 'photos/photo8.jpg' %}" width="200" height="200" class="img-thumbnail" > 
        </div>

        <div class="col-sm-4">
          <img src="{% static 'photos/photo9.jpg' %}" width="200" height="200" class="img-thumbnail" > 
        </div>


      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}


      